footer {
  background-color: rgba(var(--black-color), 1);
  padding: 120px 0px 0px 0px;
  position: relative;

  .tiles-pattern-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }

  div.main-footer {
    div.container {
      position: relative;
      flex-direction: column;
      gap: 75px;
      z-index: 2;
    }

    .bloc-socials {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 30px;

      ul.socials {
        display: flex;
        align-items: center;
        gap: 15px;

        li {
          width: 20px;
          height: 20px;
          padding: 0;
          margin: 0;

          &::after {
            content: none !important;
          }

          a {
            display: block;
            text-indent: -200vw;
            mask-image: var(--picto);
            mask-repeat: no-repeat;
            mask-size: contain;
            mask-position: center;
            background-color: $white-hx;
            transition: background-color 0.3s
              cubic-bezier(0.25, 0.46, 0.45, 0.94);

            &:hover {
              background-color: $red-regular-hx;
            }
          }
        }
      }
    }

    .bloc-menu {
      ul.nav-main {
        display: flex;
        flex-wrap: wrap;
        column-gap: 60px;
        row-gap: 60px;

        li.nav-main-item {
          width: calc(20% - 60px);
          min-width: 200px;
          padding-left: 0;

          span,
          a.nav-main-link {
            display: inline-block;
            text-transform: uppercase;
            text-decoration: none;
            color: $black-40-hx;
          }

          a.nav-main-link {
            transition: color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);

            &:hover {
              color: $red-regular-hx;
            }
          }
        }
      }

      ul.nav-drop {
        margin-left: 0;

        li.nav-drop-item {
          list-style-type: none;
          margin: 0 0 10px;

          &::after {
            content: none !important;
          }
          a {
            display: inline-block;
            text-decoration: none;
            color: $white-hx;
            transition: color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);

            &:hover {
              color: $red-regular-hx;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  div.sub-footer {
    div.container {
      position: relative;
      display: flex;
      justify-content: center;
      padding: 30px 30px 35px 30px;
      z-index: 2;
      padding: 30px 0px 35px 0px;
      border-top: 1px solid rgba(var(--black-60), 1);
      nav {
        ul {
          display: flex;
          justify-content: flex-start;
          flex-wrap: wrap;
          margin: 0px;
          padding: 0px;
          gap: 10px 45px;
          li {
            list-style-type: none;
            padding: 0;
            margin: 0;
            a {
              color: rgba(var(--black-20), 1);
              text-decoration: none;
              transition: color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
              font-size: 14px;
              &:hover {
                color: $red-regular-hx;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: $size4) {
  footer {
    div.sub-footer {
      div.container {
        padding: 30px 20px 35px 20px;
      }
    }
  }
}
@media screen and (max-width: $size7) {
  footer {
    div.sub-footer {
      div.container {
        justify-content: flex-start;
        nav {
          ul {
            flex-direction: column;
            gap: 10px;
          }
        }
      }
    }
  }
}
