//FONTS
@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,700&display=swap");

$font1: "Sen", sans-serif;
$font2: "Nunito Sans", sans-serif;

//SIZES BREAKPOINT
$size1: 1240px;
$size2: 1080px;
$size3: 920px;
$size4: 768px;
$size5: 640px;
$size6: 540px;
$size7: 480px;
