{% extends "base.twig" %}


{% block content %}
<section class="content-500">
    <div class="container">
        <div class="tiles-pattern-wrapper tech-pattern-wrapper" ></div> 
        <h1 class="title">{{title}}</h1>
        <div class="description">{{description}}</div>
    </div>
</section>
{% endblock %}