.single-post {
  .post-content {
    overflow: visible;
    .container {
      gap: 105px;
    }
    div.left {
      max-width: 740px;
      width: 100%;
      figure,
      picture {
        margin: 45px 0px;
      }
      h2 {
        margin: 45px 0px;
      }
      ul,
      ol {
        margin: 45px 0px;
      }
      .block-video,
      .block-quote {
        .container {
          padding: 0;
          .cover {
            margin: 0;
          }
        }
      }
      .block-quote {
        padding: 30px 0px;
        .container {
          gap: 30px;
          .quote {
            margin: 20px 0px 0px 0px;
          }
          .avatar {
            margin: 0;
          }
        }
      }
    }
    aside.right {
      max-width: 390px;
      width: 100%;
      position: relative;
      .cta-block {
        padding: 45px 30px 45px 30px;
        background-color: rgba(var(--main-color), 1);
        border-radius: 5px;
        position: sticky;
        top: 200px;
        .tiles-pattern-wrapper {
          width: 250px;
          height: 220px;
          top: 0;
          right: 0;
          left: auto;
          defs {
            linearGradient {
              stop {
                stop-color: rgba(var(--white-color), 1);
              }
            }
          }
        }
        h3,
        p {
          color: rgba(var(--white-color), 1);
        }

        .socials {
          position: absolute;
          top: calc(100% + 45px);
          left: 0;
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          .label {
            width: 100%;
            margin-bottom: 15px;
          }

          .facebook {
            background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1301_14727)'%3E%3Cpath d='M25 12.5C25 5.59644 19.4036 0 12.5 0C5.59644 0 0 5.59644 0 12.5C0 18.739 4.57104 23.9104 10.5469 24.8481V16.1133H7.37305V12.5H10.5469V9.7461C10.5469 6.61328 12.4131 4.88281 15.2683 4.88281C16.6355 4.88281 18.0664 5.12695 18.0664 5.12695V8.20313H16.4902C14.9375 8.20313 14.4531 9.16675 14.4531 10.1563V12.5H17.9199L17.3657 16.1133H14.4531V24.8481C20.429 23.9104 25 18.739 25 12.5Z' fill='black'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1301_14727'%3E%3Crect width='25' height='25' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
            &:hover {
              background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_19_112)'%3E%3Cpath d='M25 12.5C25 5.59644 19.4036 0 12.5 0C5.59644 0 0 5.59644 0 12.5C0 18.739 4.57104 23.9104 10.5469 24.8481V16.1133H7.37305V12.5H10.5469V9.7461C10.5469 6.61328 12.4131 4.88281 15.2683 4.88281C16.6355 4.88281 18.0664 5.12695 18.0664 5.12695V8.20313H16.4902C14.9375 8.20313 14.4531 9.16675 14.4531 10.1563V12.5H17.9199L17.3657 16.1133H14.4531V24.8481C20.429 23.9104 25 18.739 25 12.5Z' fill='%23CE0033'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_19_112'%3E%3Crect width='25' height='25' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
            }
          }
          .twitter {
            background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1301_14730)'%3E%3Cpath d='M7.86475 22.6563C17.2964 22.6563 22.4565 14.8403 22.4565 8.06447C22.4565 7.84474 22.4517 7.62013 22.4419 7.40041C23.4457 6.67447 24.312 5.7753 25 4.74513C24.0651 5.16107 23.0725 5.43272 22.0562 5.5508C23.1263 4.90931 23.9276 3.90156 24.3115 2.71437C23.3047 3.31103 22.2037 3.73192 21.0557 3.959C20.2821 3.13707 19.2594 2.59286 18.1455 2.4105C17.0316 2.22814 15.8887 2.41779 14.8935 2.95013C13.8982 3.48247 13.106 4.32785 12.6394 5.35556C12.1728 6.38328 12.0577 7.53609 12.312 8.63576C10.2734 8.53346 8.2791 8.00389 6.45831 7.08138C4.63753 6.15888 3.03093 4.86403 1.74268 3.28078C1.08792 4.40966 0.887559 5.74549 1.18232 7.01679C1.47709 8.28809 2.24486 9.39946 3.32959 10.125C2.51524 10.0992 1.71872 9.87991 1.00586 9.48537V9.54884C1.00513 10.7335 1.41469 11.8819 2.16491 12.7987C2.91513 13.7156 3.95971 14.3444 5.12109 14.5781C4.36672 14.7845 3.57498 14.8146 2.80713 14.666C3.13485 15.6849 3.77247 16.576 4.63101 17.215C5.48955 17.854 6.52617 18.209 7.59619 18.2305C5.77961 19.6574 3.5356 20.4314 1.22559 20.4278C0.815924 20.4271 0.406666 20.402 0 20.3526C2.34673 21.8581 5.07659 22.6577 7.86475 22.6563Z' fill='black'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1301_14730'%3E%3Crect width='25' height='25' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
            &:hover {
              background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_19_115)'%3E%3Cpath d='M7.86475 22.6563C17.2964 22.6563 22.4565 14.8403 22.4565 8.06447C22.4565 7.84474 22.4517 7.62013 22.4419 7.40041C23.4457 6.67447 24.312 5.7753 25 4.74513C24.0651 5.16107 23.0725 5.43272 22.0562 5.5508C23.1263 4.90931 23.9276 3.90156 24.3115 2.71437C23.3047 3.31103 22.2037 3.73192 21.0557 3.959C20.2821 3.13707 19.2594 2.59286 18.1455 2.4105C17.0316 2.22814 15.8887 2.41779 14.8935 2.95013C13.8982 3.48247 13.106 4.32785 12.6394 5.35556C12.1728 6.38328 12.0577 7.53609 12.312 8.63576C10.2734 8.53346 8.2791 8.00389 6.45831 7.08138C4.63753 6.15888 3.03093 4.86403 1.74268 3.28078C1.08792 4.40966 0.887559 5.74549 1.18232 7.01679C1.47709 8.28809 2.24486 9.39946 3.32959 10.125C2.51524 10.0992 1.71872 9.87991 1.00586 9.48537V9.54884C1.00513 10.7335 1.41469 11.8819 2.16491 12.7987C2.91513 13.7156 3.95971 14.3444 5.12109 14.5781C4.36672 14.7845 3.57498 14.8146 2.80713 14.666C3.13485 15.6849 3.77247 16.576 4.63101 17.215C5.48955 17.854 6.52617 18.209 7.59619 18.2305C5.77961 19.6574 3.5356 20.4314 1.22559 20.4278C0.815924 20.4271 0.406666 20.402 0 20.3526C2.34673 21.8581 5.07659 22.6577 7.86475 22.6563Z' fill='%23CE0033'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_19_115'%3E%3Crect width='25' height='25' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
            }
          }
          .linkedin {
            background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_19_62)'%3E%3Cmask id='mask0_19_62' style='mask-type:luminance' maskUnits='userSpaceOnUse' x='0' y='0' width='25' height='25'%3E%3Cpath d='M25 0H0V25H25V0Z' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_19_62)'%3E%3Cpath d='M23.1494 0H1.8457C0.825195 0 0 0.805664 0 1.80176V23.1934C0 24.1895 0.825195 25 1.8457 25H23.1494C24.1699 25 25 24.1895 25 23.1982V1.80176C25 0.805664 24.1699 0 23.1494 0ZM7.41699 21.3037H3.70605V9.37012H7.41699V21.3037ZM5.56152 7.74414C4.37012 7.74414 3.4082 6.78223 3.4082 5.5957C3.4082 4.40918 4.37012 3.44727 5.56152 3.44727C6.74805 3.44727 7.70996 4.40918 7.70996 5.5957C7.70996 6.77734 6.74805 7.74414 5.56152 7.74414ZM21.3037 21.3037H17.5977V15.5029C17.5977 14.1211 17.5732 12.3389 15.6689 12.3389C13.7402 12.3389 13.4473 13.8477 13.4473 15.4053V21.3037H9.74609V9.37012H13.3008V11.001H13.3496C13.8428 10.0635 15.0537 9.07227 16.8555 9.07227C20.6104 9.07227 21.3037 11.543 21.3037 14.7559V21.3037Z' fill='black'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_19_62'%3E%3Crect width='25' height='25' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
            &:hover {
              background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_19_114)'%3E%3Cpath d='M23.1494 0H1.8457C0.825195 0 0 0.805664 0 1.80176V23.1934C0 24.1895 0.825195 25 1.8457 25H23.1494C24.1699 25 25 24.1895 25 23.1982V1.80176C25 0.805664 24.1699 0 23.1494 0ZM7.41699 21.3037H3.70605V9.37012H7.41699V21.3037ZM5.56152 7.74414C4.37012 7.74414 3.4082 6.78223 3.4082 5.5957C3.4082 4.40918 4.37012 3.44727 5.56152 3.44727C6.74805 3.44727 7.70996 4.40918 7.70996 5.5957C7.70996 6.77734 6.74805 7.74414 5.56152 7.74414ZM21.3037 21.3037H17.5977V15.5029C17.5977 14.1211 17.5732 12.3389 15.6689 12.3389C13.7402 12.3389 13.4473 13.8477 13.4473 15.4053V21.3037H9.74609V9.37012H13.3008V11.001H13.3496C13.8428 10.0635 15.0537 9.07227 16.8555 9.07227C20.6104 9.07227 21.3037 11.543 21.3037 14.7559V21.3037V21.3037Z' fill='%23CE0033'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_19_114'%3E%3Crect width='25' height='25' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
            }
          }
          .share-link {
            position: relative;
            cursor: pointer;
            overflow: visible;
            background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1301_14732)'%3E%3Cpath d='M11.6764 15.0853C11.9099 14.851 12.041 14.5337 12.041 14.2029C12.041 13.8722 11.9099 13.5549 11.6764 13.3206C10.9738 12.6165 10.5792 11.6624 10.5792 10.6677C10.5792 9.67293 10.9738 8.71884 11.6764 8.01471L16.0984 3.59706C16.4459 3.24792 16.8591 2.97118 17.3143 2.78286C17.7694 2.59455 18.2574 2.49841 18.7499 2.5C19.2427 2.49805 19.731 2.59402 20.1865 2.78235C20.6419 2.97068 21.0554 3.24761 21.4029 3.59706C22.8661 5.05736 22.8661 7.4353 21.4029 8.90147L18.6882 11.6177C18.4736 11.8556 18.3586 12.1669 18.367 12.4872C18.3753 12.8076 18.5064 13.1124 18.733 13.3389C18.9597 13.5654 19.2647 13.6962 19.585 13.7043C19.9053 13.7123 20.2165 13.5971 20.4543 13.3824L23.172 10.6677C24.3428 9.495 25.0004 7.90563 25.0004 6.24853C25.0004 4.59143 24.3428 3.00207 23.172 1.82942C22.5928 1.24716 21.9039 0.785637 21.1451 0.471605C20.3862 0.157573 19.5726 -0.00272407 18.7514 3.71947e-06C17.9301 -0.00212529 17.1166 0.158589 16.3578 0.472852C15.599 0.787115 14.9101 1.24869 14.3308 1.83089L9.91021 6.24853C9.3303 6.82896 8.8705 7.51801 8.55709 8.27628C8.24369 9.03455 8.08284 9.84717 8.08374 10.6677C8.08374 12.2662 8.69404 13.8662 9.91021 15.0853C10.1448 15.3193 10.4627 15.4507 10.794 15.4507C11.1254 15.4507 11.4418 15.3193 11.6764 15.0853Z' fill='black'/%3E%3Cpath d='M10.6706 23.1647L15.0912 18.7471C16.262 17.5744 16.9196 15.985 16.9196 14.3279C16.9196 12.6708 16.262 11.0815 15.0912 9.90883C14.8559 9.67892 14.5394 9.55105 14.2104 9.55297C13.8814 9.55489 13.5664 9.68643 13.3338 9.91906C13.1011 10.1517 12.9696 10.4667 12.9677 10.7957C12.9658 11.1247 13.0936 11.4411 13.3235 11.6765C14.7868 13.1382 14.7868 15.5147 13.3235 16.9809L8.90296 21.4C8.55535 21.7493 8.14186 22.0262 7.68646 22.2145C7.23106 22.4028 6.74281 22.4989 6.25001 22.4971C5.75722 22.4989 5.26896 22.4028 4.81356 22.2145C4.35816 22.0262 3.94468 21.7493 3.59707 21.4C2.17795 19.9824 2.17795 17.5132 3.59707 16.0956L6.31325 13.3853C6.53576 13.1487 6.65743 12.8348 6.65252 12.51C6.6476 12.1853 6.51648 11.8752 6.28691 11.6454C6.05735 11.4157 5.74737 11.2843 5.42262 11.2791C5.09787 11.2739 4.78386 11.3953 4.54707 11.6177L1.83384 14.3324C1.25149 14.9112 0.7898 15.5999 0.475519 16.3584C0.161238 17.117 0.000614448 17.9304 0.0029549 18.7515C0.000809141 19.5723 0.161527 20.3854 0.475802 21.1437C0.790078 21.902 1.25167 22.5905 1.83384 23.1691C2.4131 23.7513 3.10205 24.2129 3.86082 24.5272C4.6196 24.8414 5.43315 25.0021 6.25443 25C7.07516 25.0002 7.88785 24.8382 8.64574 24.5233C9.40364 24.2083 10.0918 23.7466 10.6706 23.1647Z' fill='black'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1301_14732'%3E%3Crect width='25' height='25' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
            &:hover {
              background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_19_117)'%3E%3Cpath d='M11.6764 15.0853C11.9099 14.851 12.041 14.5337 12.041 14.2029C12.041 13.8722 11.9099 13.5549 11.6764 13.3206C10.9738 12.6165 10.5792 11.6624 10.5792 10.6677C10.5792 9.67293 10.9738 8.71884 11.6764 8.01471L16.0984 3.59706C16.4459 3.24792 16.8591 2.97118 17.3143 2.78286C17.7694 2.59455 18.2574 2.49841 18.7499 2.5C19.2427 2.49805 19.731 2.59402 20.1865 2.78235C20.6419 2.97068 21.0554 3.24761 21.4029 3.59706C22.8661 5.05736 22.8661 7.4353 21.4029 8.90147L18.6882 11.6177C18.4736 11.8556 18.3586 12.1669 18.367 12.4872C18.3753 12.8076 18.5064 13.1124 18.733 13.3389C18.9597 13.5654 19.2647 13.6962 19.585 13.7043C19.9053 13.7123 20.2165 13.5971 20.4543 13.3824L23.172 10.6677C24.3428 9.495 25.0004 7.90563 25.0004 6.24853C25.0004 4.59144 24.3428 3.00207 23.172 1.82942C22.5928 1.24716 21.9039 0.785637 21.1451 0.471605C20.3862 0.157573 19.5726 -0.00272407 18.7514 3.71947e-06C17.9301 -0.00212529 17.1166 0.158589 16.3578 0.472852C15.599 0.787115 14.9101 1.24869 14.3308 1.83089L9.91021 6.24853C9.3303 6.82896 8.8705 7.51801 8.55709 8.27628C8.24369 9.03455 8.08284 9.84717 8.08374 10.6677C8.08374 12.2662 8.69404 13.8662 9.91021 15.0853C10.1448 15.3193 10.4627 15.4507 10.794 15.4507C11.1254 15.4507 11.4418 15.3193 11.6764 15.0853Z' fill='%23CE0033'/%3E%3Cpath d='M10.6706 23.1647L15.0912 18.7471C16.262 17.5744 16.9196 15.985 16.9196 14.3279C16.9196 12.6708 16.262 11.0815 15.0912 9.90883C14.8559 9.67892 14.5394 9.55105 14.2104 9.55297C13.8814 9.55489 13.5664 9.68643 13.3338 9.91906C13.1011 10.1517 12.9696 10.4667 12.9677 10.7957C12.9658 11.1247 13.0936 11.4411 13.3235 11.6765C14.7868 13.1382 14.7868 15.5147 13.3235 16.9809L8.90295 21.4C8.55535 21.7493 8.14186 22.0262 7.68646 22.2145C7.23106 22.4028 6.74281 22.4989 6.25001 22.4971C5.75722 22.4989 5.26896 22.4028 4.81356 22.2145C4.35816 22.0262 3.94468 21.7493 3.59707 21.4C2.17795 19.9824 2.17795 17.5132 3.59707 16.0956L6.31325 13.3853C6.53576 13.1487 6.65743 12.8348 6.65252 12.51C6.6476 12.1853 6.51648 11.8752 6.28691 11.6454C6.05735 11.4157 5.74737 11.2843 5.42262 11.2791C5.09787 11.2739 4.78386 11.3953 4.54707 11.6177L1.83384 14.3324C1.25149 14.9112 0.7898 15.5999 0.475519 16.3584C0.161238 17.117 0.000614448 17.9304 0.0029549 18.7515C0.000809141 19.5723 0.161527 20.3854 0.475802 21.1437C0.790078 21.902 1.25167 22.5905 1.83384 23.1691C2.4131 23.7513 3.10205 24.2129 3.86082 24.5272C4.6196 24.8414 5.43315 25.0021 6.25443 25C7.07516 25.0002 7.88785 24.8382 8.64574 24.5233C9.40364 24.2083 10.0918 23.7466 10.6706 23.1647Z' fill='%23CE0033'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_19_117'%3E%3Crect width='25' height='25' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
            }
            &.copied {
              &::after {
                opacity: 1;
              }
            }
            &::after {
              content: "copied";
              position: absolute;
              top: calc(100% + 10px);
              left: 50%;
              transform: translateX(-50%);
              background-color: rgba(var(--black-color), 0.5);
              padding: 5px;
              opacity: 0;
              z-index: 1;
              transition: opacity 0.3s ease-in-out;
              border-radius: 5px;
            }
          }
          .mail {
            background-image: url("data:image/svg+xml,%3Csvg width='31' height='23' viewBox='0 0 31 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.6853 8.59369C16.6135 9.29451 15.2256 9.29451 14.1538 8.60744L1.81396 0.678639C2.11627 0.568707 2.41858 0.5 2.74838 0.5H27.4829C28.115 0.5 28.6784 0.719862 29.1456 1.07714L17.6853 8.59369ZM15.9126 11.8779C17.0531 11.8779 18.2074 11.5618 19.1968 10.9022L30.2311 3.66052V19.7517C30.2311 21.2633 28.9944 22.5 27.4828 22.5H2.74828C1.23673 22.5 0 21.2633 0 19.7517V3.26201C0 3.11086 0.0137417 2.9597 0.0412245 2.80855L12.6696 10.9297C13.659 11.5618 14.772 11.8779 15.9126 11.8779Z' fill='black'/%3E%3C/svg%3E%0A");
            &:hover {
              background-image: url("data:image/svg+xml,%3Csvg width='31' height='23' viewBox='0 0 31 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.6853 8.59369C16.6135 9.29451 15.2256 9.29451 14.1538 8.60744L1.81396 0.678639C2.11627 0.568707 2.41858 0.5 2.74838 0.5H27.4829C28.115 0.5 28.6784 0.719862 29.1456 1.07714L17.6853 8.59369ZM15.9126 11.8779C17.0531 11.8779 18.2074 11.5618 19.1968 10.9022L30.2311 3.66052V19.7517C30.2311 21.2633 28.9944 22.5 27.4828 22.5H2.74828C1.23673 22.5 0 21.2633 0 19.7517V3.26201C0 3.11086 0.0137417 2.9597 0.0412245 2.80855L12.6696 10.9297C13.659 11.5618 14.772 11.8779 15.9126 11.8779Z' fill='%23CE0033'/%3E%3C/svg%3E%0A");
            }
          }
          .share {
            display: block;
            width: 25px;
            height: 25px;
            margin-right: 20px;
            background-position: center;
            background-size: 100%;
            background-repeat: no-repeat;
          }
        }
      }
    }
  }
  .block-latest-article {
    padding: 150px 0px;
    h2 {
      width: 100%;
      text-align: center;
    }
  }
}

@media screen and(max-width: $size1) {
  .single-post {
    .post-content {
      aside.right {
        max-width: 100%;
      }
      .container {
        flex-direction: column;
        align-items: center;
        gap: 45px;
      }
    }
    .block-latest-article {
      padding: 45px 0px;
    }
  }
}
