section.block-map {
  .veil {
    opacity: 0;
    position: absolute;
    inset: 0;
    z-index: 3;
    transition: opacity 0.2s ease-in-out;
    pointer-events: none;
  }
  .container {
    flex-direction: column;
  }
  .title {
  }
  .nav-bar {
    display: flex;
    gap: 30px;
    width: 100%;
    margin: 45px 0px;
    .map-title {
      padding-left: 30px;
      position: relative;
      color: #9999a0;
      transition: color 0.3s ease-in-out;
      cursor: pointer;
      &.solo {
        height: 0px;
        padding: 0px;
        overflow: hidden;
      }
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        background-color: #9999a0;
        border-radius: 50%;
        width: 12px;
        height: 12px;
      }
      &.active {
        &::after {
          background-color: rgba(var(--main-color), 1);
        }
        color: rgba(var(--main-color), 1);
      }
    }
  }
  .map-wrapper {
    width: 100%;
    height: 715px;
    background-color: rgba(var(--bg-variant-light), 1);
    border-radius: 5px;
    .veil {
      background-color: rgba(var(--bg-variant-light), 1);
      width: 100vw;
    }
    .mapboxgl-popup {
      max-width: none !important;
      .mapboxgl-popup-content {
        padding: 0;
      }
    }
    .popup {
      max-width: 100%;
      padding: 15px;
      .title {
        border-bottom: 1px solid #e6e7e9;
        padding-bottom: 15px;
      }
      .address {
        display: flex;
        align-items: center;
        margin-top: 15px;
        padding: 0px 0px 0px 35px;
        background-position: left;
        background-size: 20px 25px;
        background-repeat: no-repeat;
        min-height: 25px;
      }
      .cta {
        margin-top: 20px;
        padding: 0px;
      }
    }
  }
  .swiper-nav {
    gap: 10px;
    margin-top: 60px;
    .prev {
      background-image: url("data:image/svg+xml,%3Csvg width='35' height='35' viewBox='0 0 35 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='17.5' cy='17.5' r='17.5' fill='%2300051A'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M27.4326 17.9139L27.4326 16.7708L10.7645 16.7708L17.3155 10.2976L16.4677 9.45947L8.91572 16.9251L8.5137 17.3422L8.91284 17.7558L16.4687 25.2252L17.3164 24.3872L10.7644 17.9139L27.4326 17.9139Z' fill='white'/%3E%3C/svg%3E%0A");
      &:hover {
        background-image: url("data:image/svg+xml,%3Csvg width='35' height='35' viewBox='0 0 35 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_8_5)'%3E%3Cpath d='M17.5 35C27.165 35 35 27.165 35 17.5C35 7.83502 27.165 0 17.5 0C7.83502 0 0 7.83502 0 17.5C0 27.165 7.83502 35 17.5 35Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M27.4324 17.9139V16.7708H10.7643L17.3153 10.2976L16.4675 9.45951L8.9155 16.9251L8.5135 17.3422L8.9126 17.7558L16.4684 25.2253L17.3162 24.3872L10.7642 17.9139H27.4324Z' fill='black'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_8_5'%3E%3Crect width='35' height='35' fill='white' transform='matrix(-1 0 0 -1 35 35)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      }
    }
    .next {
      background-image: url("data:image/svg+xml,%3Csvg width='35' height='35' viewBox='0 0 35 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='17.5' cy='17.5' r='17.5' transform='rotate(-180 17.5 17.5)' fill='%2300051A'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.56738 17.0861L7.56738 18.2292L24.2355 18.2292L17.6845 24.7024L18.5323 25.5405L26.0843 18.0749L26.4863 17.6578L26.0872 17.2442L18.5313 9.77476L17.6836 10.6128L24.2356 17.0861L7.56738 17.0861Z' fill='white'/%3E%3C/svg%3E%0A");
      &:hover {
        background-image: url("data:image/svg+xml,%3Csvg width='35' height='35' viewBox='0 0 35 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_7_2)'%3E%3Cpath d='M17.5 0C7.83502 0 0 7.83502 0 17.5C0 27.165 7.83502 35 17.5 35C27.165 35 35 27.165 35 17.5C35 7.83502 27.165 0 17.5 0Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.56763 17.0861V18.2292H24.2357L17.6847 24.7024L18.5325 25.5405L26.0845 18.0749L26.4865 17.6578L26.0874 17.2442L18.5316 9.77475L17.6838 10.6128L24.2358 17.0861H7.56763Z' fill='black'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_7_2'%3E%3Crect width='35' height='35' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      }
    }
  }
  .slide-buffer {
    display: none;
  }
  .map-swiper {
    margin-top: 20px;
    width: 100%;
    max-width: 375px;
    overflow: visible;
    position: relative;
    .veil {
      background-color: rgba(var(--white-color), 1);
      width: 100vw;
      left: calc(calc(100vw - 1240px) / -2);
      // left: 50%;
    }
    .swiper-wrapper {
      height: fit-content !important;
    }
    .swiper-slide {
      max-width: 375px;
      height: fit-content !important;
      padding: 15px;
      border-radius: 5px;
      background-color: rgba(var(--blue-light), 1);
      transition: background-color 0.3s ease-in-out;
      &-active {
        background-color: #e5e5ef;
      }
      .title {
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: solid 1px #e6e7e9;
      }
      .cta {
        margin-top: 45px;
      }
    }
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: $size1) {
  section.block-map {
    .map-swiper {
      .veil {
        left: -30px;
      }
    }
    .map-wrapper {
      width: 100%;
      height: 355px;
    }
  }
}
