section.block-listing-cards {
  div.container {
    flex-direction: column;
    h2.title {
      margin-bottom: 90px;
    }
    .blog-nav {
      p.nav-label {
        margin: 0 auto 15px auto;
        width: fit-content;
      }
      .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
        margin: 0 auto 90px auto;
        a {
          text-decoration: none;
        }
        .tag {
          display: block;
          cursor: pointer;
          background-color: rgba(var(--color), 0.2);
          border: solid 1px rgba(var(--color), 0.5);
          color: rgba(var(--black-color), 1);
        }
      }
    }
    .form {
      width: 100%;
      background-color: rgba(var(--black-color), 1);
      flex-wrap: wrap;
      justify-content: space-evenly;
      border-radius: 5px;
      gap: 15px;
      .filters-label {
        font-weight: 700;
        color: rgba(var(--white-color), 1);
        width: 100%;
        font-size: 18px;
      }
      .cta {
        display: flex;
        justify-content: center;
      }
      .cta,
      .input-wrapper {
        max-width: calc(33% - 15px);
        min-width: 300px;
        width: 100%;
        text-align: center;
        select {
        }
        label {
          color: rgba(var(--white-color), 1);
        }
      }
    }
    .target-active-filters {
      margin-bottom: 90px;
      margin-top: 30px;
      display: flex;
      flex-direction: row-reverse;
      gap: 15px;
      .reset {
        display: none;
        opacity: 0;
        white-space: nowrap;
        margin-right: auto;
      }
      &:has(.active-filter) {
        .reset {
          opacity: 1;
          display: flex;
        }
      }
      .active-filter {
        padding: 6px 15px 6px 15px;
        border: solid 1px rgba(var(--black-10), 1);
        width: fit-content;
        display: flex;
        align-items: center;
        border-radius: 5px;
        cursor: pointer;
        &::after {
          content: "";
          background-image: url("data:image/svg+xml,%3Csvg width='12' height='13' viewBox='0 0 12 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.7513 1.94771L7.20399 6.5L11.7521 11.0531C12.0818 11.3832 12.0828 11.9273 11.7541 12.2586C11.4385 12.5767 10.9343 12.5809 10.6137 12.2681L6.00015 7.76648L1.38306 12.2641C1.06415 12.5748 0.563273 12.5712 0.248576 12.2561C-0.0808766 11.9261 -0.0808253 11.3822 0.248689 11.0523L4.79601 6.5L0.247927 1.94694C-0.0818463 1.61681 -0.0827601 1.07269 0.245902 0.741387C0.561487 0.423269 1.06569 0.419057 1.38627 0.731861L5.99985 5.23352L10.6169 0.735861C10.9358 0.425199 11.4367 0.428757 11.7514 0.743921C12.0809 1.07386 12.0808 1.61783 11.7513 1.94771Z' fill='black'/%3E%3C/svg%3E%0A");
          background-position: center;
          background-size: 100%;
          background-repeat: no-repeat;
          width: 10px;
          height: 10px;
          margin-left: 10px;
          display: block;
        }
      }
    }
    .listing {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
    }
    .pagination {
      margin: 90px auto 0px auto;
      display: flex;
      gap: 30px;
      .page-numbers {
        font-family: $font2;
        font-size: 18px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgba(var(--black-color), 1);
        text-decoration: none;
        &.current {
          width: 50px;
          height: 50px;
          background-color: rgba(var(--main-color), 1);
          color: rgba(var(--white-color), 1);
          border-radius: 5px;
        }
        &.next,
        &.prev {
          width: 50px;
          height: 50px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: 19px 15px;
        }
        &.next {
          background-image: url("data:image/svg+xml,%3Csvg width='20' height='16' viewBox='0 0 20 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.0973 0.89012C11.2593 0.736507 11.4741 0.650879 11.6973 0.650879C11.9206 0.650879 12.1353 0.736507 12.2973 0.89012L19.0853 7.42345C19.1638 7.49772 19.2264 7.58723 19.2691 7.68649C19.3119 7.78576 19.3339 7.89271 19.3339 8.00079C19.3339 8.10887 19.3119 8.21581 19.2691 8.31508C19.2264 8.41435 19.1638 8.50385 19.0853 8.57812L12.2986 15.1101C12.1366 15.2637 11.9219 15.3494 11.6986 15.3494C11.4754 15.3494 11.2606 15.2637 11.0986 15.1101C11.0201 15.0359 10.9576 14.9463 10.9148 14.8471C10.8721 14.7478 10.85 14.6409 10.85 14.5328C10.85 14.4247 10.8721 14.3178 10.9148 14.2185C10.9576 14.1192 11.0201 14.0297 11.0986 13.9555L16.4373 8.81679H1.51597C1.2954 8.82072 1.08227 8.73703 0.923308 8.58406C0.764346 8.4311 0.672522 8.22134 0.667969 8.00079C0.667969 7.54879 1.04664 7.18345 1.51597 7.18345H16.436L11.0986 2.04479C11.0201 1.97052 10.9576 1.88101 10.9148 1.78175C10.8721 1.68248 10.85 1.57553 10.85 1.46745C10.85 1.35937 10.8721 1.25243 10.9148 1.15316C10.9576 1.05389 11.0201 0.964388 11.0986 0.89012H11.0973Z' fill='black'/%3E%3C/svg%3E%0A");
        }
        &.prev {
          background-image: url("data:image/svg+xml,%3Csvg width='20' height='16' viewBox='0 0 20 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.9027 15.1099C8.7407 15.2635 8.52595 15.3491 8.3027 15.3491C8.07945 15.3491 7.8647 15.2635 7.7027 15.1099L0.914698 8.57655C0.836176 8.50228 0.77363 8.41277 0.730885 8.31351C0.688137 8.21424 0.666092 8.10729 0.666092 7.99921C0.666092 7.89113 0.688137 7.78419 0.730885 7.68492C0.77363 7.58565 0.836176 7.49615 0.914698 7.42188L7.70136 0.889879C7.86337 0.736266 8.07811 0.650639 8.30136 0.650639C8.52462 0.650639 8.73936 0.736266 8.90136 0.889879C8.97989 0.964148 9.04243 1.05365 9.08518 1.15292C9.12792 1.25219 9.14997 1.35913 9.14997 1.46721C9.14997 1.57529 9.12792 1.68224 9.08518 1.78151C9.04243 1.88077 8.97989 1.97028 8.90136 2.04455L3.5627 7.18321L18.484 7.18321C18.7046 7.17928 18.9177 7.26297 19.0767 7.41594C19.2357 7.5689 19.3275 7.77866 19.332 7.99921C19.332 8.45121 18.9534 8.81655 18.484 8.81655L3.56403 8.81655L8.90136 13.9552C8.97989 14.0295 9.04243 14.119 9.08518 14.2183C9.12792 14.3175 9.14997 14.4245 9.14997 14.5325C9.14997 14.6406 9.12792 14.7476 9.08518 14.8468C9.04243 14.9461 8.97989 15.0356 8.90136 15.1099H8.9027Z' fill='black'/%3E%3C/svg%3E%0A");
        }
      }
    }
  }
}
@media screen and (max-width: $size1) {
  section.block-listing-cards {
    div.container {
      .target-active-filters {
        margin-bottom: 40px;
      }
      .listing {
        justify-content: center;
      }
    }
  }
}
